/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

.post-1 {
  background: #9d27b0;
}
.post-2 {
  background: #9bb800;
}
.post-3 {
  background: #ed5120;
}
.post-4 {
  background: #9d27b0;
}
.post-5 {
  background: #2d95bb;
}

body {
  font-family: roboto;
  font-size: 1.0em;
  background-color: #0b192f;
  color: #fff;
  margin: 0 8px 8px;
}

main {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-areas: 
    "heroSection heroSection"
    "blog news"
}

.menu-link {
  display: inline-block;
  padding: 2em;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.menu-link:hover {
  background-color: #1f52a4;
}

.header {
  background-color: #024161;
  box-sizing: border-box;
  max-width: 1400px;
  width: auto;
  margin: 0 auto 15px;
  padding: 0 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header-heading {
  letter-spacing: -2px;
  font-weight: 300;
}

.header-heading span {
  font-weight: 200;
  color: #d12767;
}

.blog {
  grid-area: blog;
}

.hero-section {
  grid-area: heroSection;
  background: url('../img/post0.jpg') no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  width: auto;
  padding: 20% 5% 5%;
  margin-bottom: 15px;
}

.hero-section .post-inner {
  grid-template-columns: 70%;
}

.blog .post, .news {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.post:hover, .news-post:hover  {
  cursor: pointer;
  opacity: .85;
}

.post-image {
  width: 100%;
}

.post-heading {
  grid-area: postHeading;
  margin: 0.2em 0;
  font-size: 2.5em;
  font-weight: 200;
  line-height: 0.85em;
}

.post-text {
  grid-area: postPost;
  font-size: 0.9em;
  font-weight: 200;
  line-height: 1.5em;
  opacity: 0.7;
}

.news {
  grid-area: news;
  justify-content: flex-start;
}

.news-post {
  padding-bottom: 5%;
  margin-left: 4%;
  margin-bottom: 6%;
  background-color: #fff; 
}

.news .post-inner {
  padding: 10%;
  grid-template-rows: 25% auto;
}

.news .post-heading {
  color: #000;
  font-size: 1.5em;
  font-weight: 300;
}

.news .post-text {
  margin-top: auto;
  color: #000;
}

.post-time {
  grid-area: postTime;
  text-align: center;
  font-size: 2.5em;
  max-width: 2em;
  font-weight: 200;
  line-height: 0.7em;
  opacity: 0.3;
}

.post-time > span {
  font-size: 0.5em;
}

.post-inner {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40% auto;
  grid-row-gap: 5px;
  grid-template-areas: 
    "postHeading"
    "postPost";
}

.blog .post-inner {
  padding: 5% 2% 0% 5%;
  grid-template-columns: auto 6% 11%;
  grid-template-areas: 
    "postHeading . postTime"
    "postPost postPost .";
}

.footer {
  background-color: #024161;
  margin-bottom: 5px;
  padding: 2em;
}

.footer .post-text {
  margin: 0 auto;
  padding: 0.1em;
  text-align: center;
  opacity: 0.3;
}

@media screen and (min-width: 768.1px) {
  body {
    width: 96%;
    margin: 0 2%;
  }
  
  main {
    max-width: 1400px;
    width: auto;
    margin: 0 auto;
  }

  .blog .post {
    flex-direction: row;
    max-height: 300px;
  }

  .blog .post-image {
    max-height: 300px;
    max-width: 49.7%;
    object-fit: cover;
  }

  .blog .post-inner {
    width: 88%;
    padding: 1% 2% 0 5%;
    grid-template-rows: 45% auto;
  }

  .blog .post-heading {
    font-size: 1.75em;
  }

  .blog .post-text {
    margin: 0;
    font-size: 0.7em;
  }

  .hero-section .post-text, .news .post-text, .footer .post-text {
    font-size: 0.7em;
  }

  .post-time {
    font-size: 2em;
  }

  .blog .post:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .blog .post:nth-child(even) .post-inner {
    padding: 1% 5% 0 2%;
    grid-template-columns: 10% 7% auto;
    grid-template-areas: 
      "postTime postTime postHeading"
      ". postPost postPost";
  }

  .blog .post-5 {
    flex-direction: column;
  }

  .footer {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
  }
  .footer-block .post-text {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 15px;
    width: 100%;
    flex-direction: column;
  }
  .menu {
    padding-top: 4%;
    margin: auto; 
    width: 18px;
    height: 15px;
  }
  
  .menu:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    box-shadow: 0 4px 1px 0 rgba(255, 255, 255, 0.5),
                0 8px 0 0 rgba(255, 255, 255, 0.7);
  }
  
  .menu-link {
    display: none;
  }
  
  .header-heading {
    text-align: center;
    padding: 5% 0 5%;
  }

  .hero-section .post-inner {
    grid-template-columns: auto;
    grid-template-rows: 40% 35% auto;
  }

  .post-5 .post-inner {
    padding: 5%;
    grid-template-columns: auto;
    grid-template-rows: 35% auto;
    grid-template-areas: 
      "postHeading"
      "postPost"
      "postTime";
  }
  
  .post-5 .post-time {
    padding-top: 0.75em;
    margin: 0 auto;
    width: 2em; 
    height: 1.5em;
  }

  .news {
    justify-content: flex-start;
  }

  .footer {
    margin-top: 4%;
  }
}

@media screen and (max-width: 480px) {
  body {
    display: block;
    margin: 0 2% 0;
    width: 96%;
  }

  .header-heading {
    padding: 10% 0 10%;
  }

  main {
    display: block;
  }

  .menu {
    padding-top: 8%;
  }

  .blog :not(.post-5) .post-inner {
    grid-template-columns: auto 20%;
    grid-template-areas: 
    "postHeading postTime"
    "postPost postPost";
  }

  .news .post-inner {
    padding: 5%;
    grid-template-rows: 40% auto;
  }
  
  .news-post {
    margin: 0 auto 5%;
  }

  .footer {
    margin-top: 20px;
  }
}