/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
  font-size: 1.0em;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0 2% 0;
    background-color: var(--bg-color--dark);
    color: #fff;
  }

  .menu:hover, .header-heading:hover {
    cursor: pointer;
  }

  .header, .hero-section, .blog, .blog article, .news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .header {
    background-color: var(--bg-color--header);
    margin-bottom: 15px;
  }

  .menu {
    padding-top: 8%;
    width: 18px;
    height: 15px;
  }

  .menu:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    box-shadow: 0 4px 1px 0 rgba(255, 255, 255, 0.5),
                0 8px 0 0 rgba(255, 255, 255, 0.7);
  }

  .menu-link {
    display: none;
  }

  .header-heading {
    padding: 10% 0 10%;
    letter-spacing: -2px;
    font-weight: 300;
  }

  .header-heading span {
    font-weight: 200;
    color: #d12767;
  }

  .hero-section {
    background: url('../img/post0.jpg') no-repeat center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }

  .blog-heading {
    width: 80%;
    margin-top: 2em;
    font-size: 2.5em;
    font-weight: 200;
  }

  .hero-section p, .blog-post {
    width: 80%;
    font-size: 0.9em;
    font-weight: 200;
    line-height: 1.5em;
    padding-bottom: 1.5em;
  }

  .blog {
    flex-direction: column-reverse;
  }

  .blog .blog-heading {
    margin: 1em 0 0;
  }

  .blog-image {
    width: 100%;
  }

  .news {
    background-color: #fff;
  }

  .news .blog-heading {
    margin-top: 1.5em;
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
  }

  .news .blog-post {
    margin-top: auto;
    color: #000;
    font-size: 1em;
  }
  
  .post-time {
    text-align: center;
    align-self: flex-end;
    justify-self: flex-start;
    margin-top: 0.5em;
    font-size: 4em;
    width: 2em;
    font-weight: 200;
    line-height: 0.7em;
  }

  .post-time > span {
    font-size: 0.5em;
  }
}



