body {
  margin: 0;
  width: 1920px; }

header {
  min-height: 710px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  background: url("../img/m-h-day.jpg") no-repeat center;
  background-size: cover;
  border-bottom-right-radius: 40%; }

.header-wrap {
  margin: 0 0 0 190px;
  max-width: 670px; }
  .header-wrap .landing-logo {
    display: inline-block;
    padding-left: 2px;
    padding-top: 7px;
    width: 150px;
    height: 50px; }
    .header-wrap .landing-logo p {
      display: inline-block;
      margin: 0 0 0 10px;
      font-family: Hind, serif;
      font-size: 24px;
      font-weight: 600;
      text-align: center; }
    .header-wrap .landing-logo span {
      display: block;
      font-weight: 400;
      font-size: 0.4em;
      text-align: center; }
