body {
  margin: 0;
  width: 1920px; }

header {
  min-height: 710px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  background: url("../img/m-h-day.jpg") no-repeat center;
  background-size: cover;
  border-bottom-right-radius: 40%; }

.header-wrap {
  margin: 0 0 0 190px;
  padding: 6px 0 0 2px;
  max-width: 660px;
  font-family: Hind, sans-serif;
  color: #2c2f3c; }

.landing-logo {
  width: 150px;
  height: 50px; }
  .landing-logo p {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center; }
  .landing-logo span {
    display: block;
    position: relative;
    top: -6px;
    font-weight: 600;
    font-size: 10px;
    text-align: center; }

.header_heading {
  position: relative;
  z-index: 1;
  margin: 72px 0 0;
  height: 145px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1em; }
  .header_heading::after {
    content: '';
    display: block;
    position: relative;
    z-index: -1;
    bottom: 50px;
    left: 0px;
    width: 302px;
    height: 50px;
    background-color: #14a0c7; }

.header_text {
  margin-top: 34px;
  margin-bottom: 80px;
  white-space: pre-line;
  height: 100px;
  line-height: 24px;
  letter-spacing: 0.2px; }

.header_button {
  width: 142px;
  height: 48px;
  border: none;
  border-radius: 3px;
  background-color: #699900;
  color: #f2f3f7;
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  font-weight: 600;
  vertical-align: center; }

.login {
  margin-left: 150px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 19.5px;
  font-weight: 600;
  color: #fff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline; }

.section_text {
  position: relative;
  top: -5px;
  margin-bottom: 0;
  height: 85px;
  z-index: 1;
  font-family: Source Sans Pro, sans-serif;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  color: #2c2f3c; }
  .section_text::after {
    content: '';
    display: block;
    position: relative;
    z-index: -1;
    bottom: 58px;
    left: 967px;
    width: 190px;
    height: 50px;
    background-color: #14a0c7; }

.section_card_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1075px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 20px;
  background-color: #21232e; }

.section_card_heading {
  color: #fff;
  font-family: Source Sans Pro, sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center; }

.section_card_text {
  color: #c0c3c4;
  text-align: justify;
  padding: 15px 46px;
  margin-bottom: 0;
  font-family: Hind, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  height: 100px; }

.section_link {
  display: block;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.65px;
  font-family: Hind, sans-serif;
  color: #c0c3c4; }

.section_card:nth-child(1) .section_card_img {
  width: 430px;
  height: 285px;
  border-radius: 5px; }
.section_card:nth-child(1) .section_card_right_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 605px;
  margin-left: 23px;
  margin-top: 4px; }

.section_card:nth-child(2) .section_card_img {
  width: 416px;
  height: 275px;
  border-radius: 5px; }
.section_card:nth-child(2) .section_card_right_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 619px;
  margin-left: 23px;
  margin-top: 4px; }
.section_card:nth-child(2) .section_card_heading {
  margin-bottom: 17px; }

.section_card:nth-child(3) .section_card_img {
  width: 460px;
  height: 305px;
  border-radius: 5px; }
.section_card:nth-child(3) .section_card_right_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 575px;
  margin-left: 23px;
  margin-top: 4px; }
.section_card:nth-child(3) .section_card_heading {
  margin: 34px auto 48px; }
