@mixin logoHikingClub {
  width: 150px;
  height: 50px;

  p {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  span {
    display: block;
    position: relative;
    top: -6px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
  }
}

@mixin button {
  width: 142px;
  height: 48px;
  border: none;
  border-radius: 3px;
  background-color: $btn-background;
  color: #f2f3f7;
  font-family: $btn-font;
  font-size: 18px;
  font-weight: 600;
}

@mixin textHighlight($bottom: 0px, $left: 0px, $width: 0px, $height: 0px, 
                     $background-color:#14a0c7) {
    content: '';
    display: block;
    position: relative;
    z-index: -1;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
    background-color: $background-color;
}

@function rightContainerWidth($img-width, $img-heigh) {
  @return ($section-card-width - $img-width - 40px);
}

@mixin sectionCard($img-width, $img-heigh) {
  .section_card_right_container {
    width: rightContainerWidth($img-width, $img-heigh);
  }

  .section_card_img {
    width: $img-width;
    height: $img-heigh;
    border-radius: 5px;
  }
}


body {
    margin: 0;
    width: 1920px;
}

header {
  min-height: 710px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  background: $header-background-image no-repeat center;
  background-size: cover;
  border-bottom-right-radius: 40%;
}

.header-wrap  {
    margin: 0 0 0 190px;
    padding: 6px 0 0 2px;
    max-width: 660px;
    font-family: $header-font;
    color: #2c2f3c;
  }

.landing-logo {
  @include logoHikingClub;
}

.header_heading {
  position: relative;
  z-index: 1;
  margin: 72px 0 0;
  height: 145px;
  font-family: $header-heading-font;
  font-size: 72px;
  font-weight: 700;
  line-height: 1em;

  &::after {
    @include textHighlight(50px, 0px, 302px, 50px);
  }
}

.header_text {
  margin-top: 34px;
  margin-bottom: 80px;
  white-space: pre-line;
  height: 100px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.header_button {
  @include button;
}

.login {
  margin-left: 150px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 19.5px;
  font-weight: 600;
  color: #fff;
  text-decoration-line: underline;
  // find trick for underline. make it thicker
}

.section_text {
  position: relative;
  top: -5px;
  margin-bottom: 0;
  height: 85px;
  z-index: 1;
  font-family: $section-headings-font;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  color: #2c2f3c;

  &::after {
    @include textHighlight(58px, ((1920px / 2) + 7px), 190px, 50px);
  }
}

.section_card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section_card {
  display: flex;
  justify-content: flex-start;
  width: $section-card-width;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 20px;
  background-color: #21232e;
}

.section_card_right_container {
  box-sizing: border-box;
  padding: 20px;
  margin-left: 23px;
  margin-top: 4px;
}

.section_card_heading {
    // check color
    color: #fff;
    font-family: $section-headings-font;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .section_card_text {
    color: #c0c3c4;
    text-align: justify;
    padding: 15px 46px;
    margin-bottom: 0;
    font-family: $section-card-text-font;
    font-size: 16px;
    line-height: 1.5em;
    height: 100px;
  }

  .section_link {
    display: block;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.65px;
    font-family: $section-card-text-font;
    color: #c0c3c4;
  }


.section_card:nth-child(1) {
  @include sectionCard(430px, 285px);
}

.section_card:nth-child(2) {
  @include sectionCard(416px, 275px);
}

.section_card:nth-child(3) {
  @include sectionCard(460px, 305px);
}

.section_banner {
  position: relative;
  margin: 0 auto;
  top: 110px;
  background: linear-gradient(45deg, #62911a, #305fcb);
  height: 145px;
  width: 1200px;
  border-radius: 5px;
  z-index: -1;
}

.section_banner_text_wrap {
  display: inline-block;
  padding: 0 160px;
}

.section_banner_button { 
  @include button;
  position: relative;
  left: 152px;
  bottom: 20px;
}

.section_banner_heading {
  position: relative;
  top: -5px;
  margin-bottom: 0;
  height: 35px;
  z-index: 1;
  font-family: $section-headings-font;
  text-align: center;
  font-size: 31px;
  font-weight: 700;
  color: #2c2f3c;

  &::after {
    @include textHighlight(53px, 122px, 65px, 50px);
  }
}

.section_banner_text {
  color: #c0c2ce;
  font-family: $section-card-text-font;
  font-size: 16px;
}

.footer {
  position: relative;
  top: 37px;
  z-index: -2;
  height: 245px;
  background-color: $footer-background-color;
  font-family: $footer-font;
  color: $footer-color;
}

.footer-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 110px;
}

.footer_text {
  width: 300px;
  text-align: left;
  font-size: 14px;
  line-height: 1.25rem;
}