$body-background-color: #21232e;

$text-highlight-color: #ff4e33;

$btn-font: "Source Sans Pro", sans-serif;
$btn-background: #e3ac00;

$header-logo-font: 600 24px Fresca, sans-serif;
$header-text-color: #fff;
$header-header-text-font: Fresca, sans-serif;
$header-logo-span-top: 0px;
$header-p-relative-position-bottom: 3px;
$header-background-image: url('../img/m-h-night.jpg');
$header-font: Hind, sans-serif;
$header-heading-font: "Source Sans Pro", sans-serif;
$header-login-link-font: 600 19.5px "Source Sans Pro", sans-serif;
$header-login-link-color: #fff;

$section-text-color: #fff;
$section-card-backgournd-color: #3b3f50;
$section-card-text-font: Fresca, sans-serif;
$section-headings-font: "Source Sans Pro", sans-serif;
$section-card-width: 1075px;
$section-card-link-font: 400 15px Hind, sans-serif;
$section-card-link-color: #c0c3c4;
$section-banner-heading-color: #fff;
$section-banner-background: linear-gradient(45deg, #e3ac01, #922c52);

$section-card-img-1: (width: 442px, height: 294px);
$section-card-img-2: (width: 429px, height: 284px);
$section-card-img-3: (width: 472px, height: 315px);

$footer-background-color: #3b3f50;
$footer-color: #d1d1d1;
$footer-font: Fresca, sans-serif;

