.collapsed li:nth-child(n), .collapsed span:nth-child(n) {
  display: none;
}

.capture-area:hover {
  background-color: #efefef;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  cursor: pointer;
}

.material-icons {
  font-size: 20px;
  vertical-align: bottom;
  color: #edbc0b;
}

.file .material-icons {
  color: #bbbbbb;
}

.folder span {
  font-style: italic;
  padding-left: 5px;
}